.banner{
    position: relative;
    height: 223px;
    width: 100%;

    padding: 0 100px;
    margin-bottom: 45px;

    @media (max-width : 768px) {
        height: 111px;
        padding: 0 20px;
    }

    &_img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 25px;
        filter: brightness(0.7);

        @media (max-width : 768px) {
            border-radius: 10px;
        }
    }

    &_txt{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 48px;
        font-weight: 500;

        @media (max-width : 768px) {
           font-size: 24px;
           text-align: left;
           left: 0;
           transform: translate(0%, -50%);
           padding-left:30px ;
           width: 245px;
        }
    }

}

.about-banner{
    @media (max-width : 768px) {
    height: 223px !important ;
    }
}