*{
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
 body{
    display: grid;
    place-items: center;
    margin: 0;
    a{
        text-decoration: none;
    }
 }

 #root{
    width: 100%;  
	
 }

.container_card{
    background-color: #F6F6F6;
	// width: 100wh;
	height: 830px;
	border-radius: 25px;
	margin: 0 100px 50px 100px;
	display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 56px 50px 43px 50px;
	overflow: auto;


	// prévoir le défilement

	@media (max-width : 768px) {
        margin: 0 20px 50px 20px;
		background-color: #fff;
		grid-template-columns: 1fr;
		width: 100%;
		gap: 20px;
		margin: 0;
		padding: 20px;
    }
}
// .container_card::-webkit-scrollbar{
// 	display: none;
// }
