*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
 body{
    display: grid;
    place-items: center;
    margin: 0;
    a{
        text-decoration: none;
    }
 }

 #root{
    width: 100%;  
 }
